{$FRONTEND_HOST} {
	encode zstd gzip
	request_body {
		max_size {$REQUEST_BODY_MAX_SIZE}
	}
	reverse_proxy frontend:3000
}

{$API_HOST} {
	encode zstd gzip
	request_body {
		max_size {$REQUEST_BODY_MAX_SIZE}
	}
	reverse_proxy api:8000
}
